.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logoutButton {
    background: none;
    cursor: pointer;
    color: #FFFFFF;
    display: flex;
    align-items: center;
}

.navRight {
    display: flex;
    align-items: center;
}

.avatar {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #0077ff;
    margin: 0 20px;
    margin-right: 10px;
}

.logoutImg {
    height: 30px;
    width: 30px;
}

.logoutImg:hover {
    transform: scale(1.3);
    transition: all 0.3s ease-in-out;
}